@model Course
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>


<table class="table table-bordered  ">
    <form method="post" asp-action="Create" asp-controller="Courses">
    <tr>
        <td>
            <label asp-for="CourseName"></label>

        </td>
        <td>
            <input asp-for="CourseName" class="form-control" />
            <span asp-validation-for="CourseName" class="text-danger"></span>

        </td>
    </tr>


    <tr>
        <td>
            <label asp-for="houres"></label>

        </td>
        <td> <input asp-for="houres" class="form-control" /></td>
        <span asp-validation-for="houres" class="text-danger"></span>

    </tr>

    <tr>
        <td>
            <label asp-for="Period"></label>

        </td>
        <td>
            <input asp-for="Period" class="form-control" />
            <span asp-validation-for="Period" class="text-danger"></span>

        </td>
    </tr>

    <tr>
        <td>
            <label asp-for="StartDate"></label>

        </td>
        <td>
            <input asp-for="StartDate" class="form-control" />
            <span asp-validation-for="StartDate" class="text-danger"></span>

        </td>
    </tr>

  

    <tr>
        <td colspan="2">
            <input type="submit" value="Save" class="btn btn-success " />

        </td>

    </tr>
    </form>


</table>

